<div class="col-md-6 col-lg-6">
	<h2 class="headline">Daily Leaderboard</h2>
	<table id="daily-leaderboard" class="moves-table leaderboard">
		<tr class="table-header">
			<td>Rank</td>
			<td>Email</td>
			<td class="lb-sort">Coins</td>
		</tr>
		<div id="leaderboard-data">
			<!--
			<%= render partial: 'home/tables/user_by_coins', collection: @movers_daily %>
			-->
			<%= render partial: 'home/tables/user_by_steps', collection: @movers_daily %>
		</div>
	</table>
</div>
