<table id="month-walking-table" class="moves-table">
	<tr class="table-header">
		<td>Date</td>
		<td>Steps</td>
		<td>Distance(mi)</td>
		<td>Coins</td>
	</tr>
	<%= render partial: 'home/tables/month_walking_row', collection: @walk_month_summary %>
</table>
