<div class="col-md-6 col-lg-6">
	<h2 class="headline">Monthly Leaderboard</h2>
	<table id="monthly-leaderboard" class="moves-table leaderboard">
		<tr class="table-header">
			<td>Rank</td>
			<td>Email</td>
			<td class="lb-sort">Coins</td>
		</tr>
		<div id="leaderboard-data">
			<%= render partial: 'home/tables/user_by_monthly_coins', collection: @movers_monthly %>
		</div>
	</table>
</div>
