<div class="row">
	<%= render 'home/tables/daily_leaderboard' %>
	<%= render 'home/tables/monthly_leaderboard' %>
</div>

<h2 class="headline">Your Walking Data This Month</h2>
<div class="row">
	<div class="col-md-6 col-lg-6">
		<%= render 'home/tables/month_walking_table' %>
	</div>

	<div class="col-md-6 col-md-offset-0 col-lg-offset-0 col-lg-6">
		<canvas id="myChart" width="600" height="400"></canvas>
		<%= link_to "This month's moves", month_path, remote: true, id:"chart-link" %>
	</div>
</div>
